USE [master]
GO
/****** Object:  Database [WebApiVitor]    Script Date: 11/10/2024 10:40:35 ******/
CREATE DATABASE [WebApiVitor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebApi_C#', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebApi_C#.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebApi_C#_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebApi_C#_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApiVitor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApiVitor]
GO
/****** Object:  User [dvj]    Script Date: 11/10/2024 10:40:35 ******/
CREATE USER [dvj] FOR LOGIN [dvj] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TB_CLIENTE]    Script Date: 11/10/2024 10:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLIENTE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Telefone] [varchar](100) NOT NULL,
	[Doc_identificacao] [varbinary](max) NULL,
 CONSTRAINT [PK_TB_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ENDERECO]    Script Date: 11/10/2024 10:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ENDERECO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Logradouro] [varchar](100) NOT NULL,
	[Cidade] [varchar](100) NOT NULL,
	[Estado] [varchar](100) NOT NULL,
	[Cep] [varchar](100) NOT NULL,
	[PReferencia] [varchar](100) NOT NULL,
	[N°] [int] NOT NULL,
	[FK_Cliente] [int] NOT NULL,
 CONSTRAINT [PK_TB_ENDERECO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PRODUTO]    Script Date: 11/10/2024 10:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PRODUTO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Preco] [varchar](100) NOT NULL,
	[Qnt] [int] NOT NULL,
	[NFiscal] [varbinary](max) NULL,
 CONSTRAINT [PK_TB_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 11/10/2024 10:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Senha] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TB_USUARIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_VENDAS]    Script Date: 11/10/2024 10:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_VENDAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Valor] [varchar](100) NOT NULL,
	[Comprovante] [varbinary](max) NULL,
	[FK_Produto] [int] NOT NULL,
	[FK_Cliente] [int] NOT NULL,
 CONSTRAINT [PK_TB_VENDA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_TB_ENDERECO_TB_CLIENTE] FOREIGN KEY([FK_Cliente])
REFERENCES [dbo].[TB_CLIENTE] ([Id])
GO
ALTER TABLE [dbo].[TB_ENDERECO] CHECK CONSTRAINT [FK_TB_ENDERECO_TB_CLIENTE]
GO
ALTER TABLE [dbo].[TB_VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_TB_VENDA_TB_CLIENTE] FOREIGN KEY([FK_Cliente])
REFERENCES [dbo].[TB_CLIENTE] ([Id])
GO
ALTER TABLE [dbo].[TB_VENDAS] CHECK CONSTRAINT [FK_TB_VENDA_TB_CLIENTE]
GO
ALTER TABLE [dbo].[TB_VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_TB_VENDA_TB_PRODUTO] FOREIGN KEY([FK_Produto])
REFERENCES [dbo].[TB_PRODUTO] ([Id])
GO
ALTER TABLE [dbo].[TB_VENDAS] CHECK CONSTRAINT [FK_TB_VENDA_TB_PRODUTO]
GO
USE [master]
GO
